<div class="container">
    <div class="row" *ngFor="let vaga of vagas$ | async" >
        <div class="col-12 mb-2 card">
            <div class="card-header">
                <h5>{{ vaga.titulo }}</h5>  
            </div>     
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <h5 class="card-title"> Salário: {{ vaga.salario }}</h5>
                    </li>
                    <li class="list-group-item">
                        <p class="card-text"> {{ vaga.descricao }} </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


